@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

#app {
  max-width: 400px;
  font-family: 'Source Code Pro', monospace;
}

button {
  background-color: white;
  border: 2px solid firebrick;
  border-radius: 10px;
  color: firebrick;
  &:hover {
    color: white;
    background-color: firebrick;
  }
}

ul {
  padding: 0;
  list-style: none;

  li:nth-child(odd) {
    color: firebrick;
    box-shadow: 0 4px 2px -2px lightgray;
    background-color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid firebrick;
    padding: 5px 0 5px 10px;
  }
}
